<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/76f2c55102.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <span><%= link_to "Bookers", root_path, class:"navbar-brand" %></span>
          <div class="collapse navbar-collapse">
            <% if user_signed_in? %>
            <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to(user_path(current_user.id), class:"nav-link text-light") do %>
                  <i class="fas fa-home">Home</i>
                <% end %>
              </li>
              <li>
                <%= link_to(users_path, class:"nav-link text-light") do %>
                  <i class="fas fa-users">Users</i>
                <% end %>
              </li>
              <li>
                <%= link_to(books_path, class:"nav-link text-light") do %>
                  <i class="fas fa-book-open">Books</i>
                <% end %>
              </li>
              <li>
                <%= link_to(destroy_user_session_path, method: :delete, class:"nav-link text-light") do %>
                  <i class="fas fa-sign-out-alt">logout</i>
                <% end %>
              </li>
            </ul>
            <% else %>
            <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to(root_path, class:"nav-link text-light") do %>
                  <i class="fas fa-home">Home</i>
                <% end %>
              </li>
              <li>
                <%= link_to(home_about_path, class:"nav-link text-light") do %>
                  <i class="fas fa-link">About</i>
                <% end %>
              </li>
              <li>
                <%= link_to(new_user_registration_path, class:"nav-link text-light") do %>
                  <i class="fas fa-user-plus">sign up</i>
                <% end %>
              </li>
              <li>
                <%= link_to(new_user_session_path, class:"nav-link text-light") do %>
                  <i class="fas fa-sign-in-alt">login</i>
                <% end %>
              </li>
            </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container mt-2">
        <div class="search-form  d-flex align-items-center justify-content-center">
        <% if user_signed_in? %>
          <%= form_with url: search_path, method: :get, local:true do |f| %>
            <%= f.text_field :word %>
            <%= f.select :model, options_for_select({"User" => "user", "Book" => "book"}) %>
            <%= f.select :method ,options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}) %>
            <%= f.submit "検索" %>
          <% end %>
        <% end %>
        </div>
      </div>

      <%= yield %>
    </main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
